@import "~src/assets/styles/variables";

.product-details-container {
  background: white;
  width: 100%;
  text-align: center;
  color: white;

  .product-details-image {
    max-width: 250px;
    margin-left: auto;
    @media(min-width: $desktop-sm) {
      max-width: 450px;
    }
  }

  .product-details-footer {
    background: $light-blue;
    padding: 15px;
    @media(min-width: $desktop-sm) {
      padding: 35px 50px;
    }

    * {
      text-align: left;
    }

    .product-details-title {
      display: block;
      width: 100%;
      margin-top: 0;
    }

    .footer-row {
      display: flex;
      flex-direction: column;
      @media(min-width: $desktop-sm) {
        flex-direction: row;
      }
    }

    .left-column, .right-column {
      display: inline-flex;
    }

    .left-column {
      justify-content: flex-start;
      flex-direction: column;
      padding-right: 20px;
      width: 100%;
      @media(min-width: $desktop-sm) {
        padding-right: 50px;
      }
      .product-details-description {
        display: flex;
        width: 100%;
        margin-top: 10px;
        font-family: Lato, sans-serif;
        font-weight: 200;
      }
    }

    .right-column {
      //width: 100%;
      @media(min-width: $tablet) {
        justify-content: flex-end;
      }
    }
  }

  #add-button{
    background: $accent;
    padding: 15px 90px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 45px;

    @media(min-width: $tablet) {
      width: auto;
    }

    &:hover, &:focus {
      text-decoration: none;
      color: white;
      background: rgba(47, 218, 127, 0.9);
    }

    &.disabled {
      pointer-events: none;
      background: rgba(47, 218, 127, 0.5);
    }
  }
}
