app-shopping-cart, app-product-view {
  display: inline-flex;
  margin-top: 20px;
  @media(min-width: 768px) {
    margin-top: 80px;
  }
}

app-shopping-cart {
  margin-top: 80px;
}

app-product-view {
  flex-wrap: wrap;
  vertical-align: top;
  width: 100%;
  @media(min-width: 768px) {
    width: calc(100% - 310px);
    margin-left: 50px;
  }
}
