@import '~src/assets/styles/variables';

app-card {
  display: inline-flex;
  background: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  width: 100%;

  @media (min-width:$tablet) {
    width: calc(50% - 50px);
    margin: 0 0 50px 50px;
  }
  @media(min-width: $desktop-sm) {
    width: calc(25% - 50px);
  }
}





