@import '~src/assets/styles/variables';

.container {
  app-static-page {
    margin-top: 80px;
    background: white;
    display: block;
    @media(min-width: $tablet) {
      margin-top: 120px;
    }
  }

  img {
    width: 40px;
  }
}

:host /deep/ app-static-page .static-page-container p{
  text-align: justify;
}
