@import '~src/assets/styles/variables';

.card-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  @media(min-width: $desktop-sm) {
    text-align: left;
  }

  a:hover, a:focus {
    text-decoration: none;
    color: $light-blue
  }

  .card-image {
    max-width: 150px;
    @media(min-width: $tablet) {
      max-width: 50%;
    }
    @media(min-width: $desktop-sm) {
      max-width: 100%;
    }
  }

  .card-title {
    color: $dark-text;
  }

  .card-description {
    color: $light-text;
  }

  .card-description, .card-title {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}
